<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Reimbursement Web Application</display-name>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.revature.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestServlet</servlet-name>
		<display-name>RequestServlet</display-name>
		<description></description>
		<servlet-class>com.revature.controller.RequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApproveServlet</servlet-name>
		<display-name>ApproveServlet</display-name>
		<description></description>
		<servlet-class>com.revature.controller.ApproveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<display-name>DashboardServlet</display-name>
		<description></description>
		<servlet-class>com.revature.controller.DashboardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>com.revature.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeRequestTableServlet</servlet-name>
		<display-name>EmployeeRequestTableServlet</display-name>
		<description></description>
		<servlet-class>com.revature.controller.EmployeeRequestTableServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApproveEmployeeServlet</servlet-name>
		<display-name>ApproveEmployeeServlet</display-name>
		<description></description>
		<servlet-class>com.revature.controller.ApproveEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/RequestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApproveServlet</servlet-name>
		<url-pattern>/ApproveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/DashboardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeRequestTableServlet</servlet-name>
		<url-pattern>/EmployeeRequestTableServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApproveEmployeeServlet</servlet-name>
		<url-pattern>/ApproveEmployeeServlet</url-pattern>
	</servlet-mapping>
</web-app>
